<!-- 
11h24 17 octobre 2023 
Dylan Ducas
-->
<div style="margin: 2%;">
    <table>
        <% @businesses.each do |business| %>
            <tr>
                <% if defined? @is_admin %>
                    <td><%= business.id %></td>
                <% end %>
                <td><%= business.name %></td>
                <td><%= link_to "Détails","/businesses/#{business.id}" %></td>
            </tr>
        <% end %>
    </table>
</div>